/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Film.php
app/User.php
app/Console/Kernel.php
app/Exceptions/Handler.php
app/Http/Kernel.php
app/Http/Controllers/Controller.php
app/Http/Controllers/FilmController.php
app/Http/Controllers/HomeController.php
app/Http/Controllers/Auth/ConfirmPasswordController.php
app/Http/Controllers/Auth/ForgotPasswordController.php
app/Http/Controllers/Auth/LoginController.php
app/Http/Controllers/Auth/RegisterController.php
app/Http/Controllers/Auth/ResetPasswordController.php
app/Http/Controllers/Auth/VerificationController.php
app/Http/Middleware/Authenticate.php
app/Http/Middleware/CheckForMaintenanceMode.php
app/Http/Middleware/EncryptCookies.php
app/Http/Middleware/RedirectIfAuthenticated.php
app/Http/Middleware/TrimStrings.php
app/Http/Middleware/TrustProxies.php
app/Http/Middleware/VerifyCsrfToken.php
app/Http/Requests/FilmRequest.php
app/Policies/FilmPolicy.php
app/Providers/AppServiceProvider.php
app/Providers/AuthServiceProvider.php
app/Providers/BroadcastServiceProvider.php
app/Providers/EventServiceProvider.php
app/Providers/RouteServiceProvider.php
